name: trailstory

services:
  backend:
    build: .
    ports:
      - "8080:8000"
    env_file:
      - ".env-docker"
    depends_on:
      db:
          condition: service_healthy

  db:
    build:
      context: ./postgis 
      dockerfile: Dockerfile.postgis

    restart: always

    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: trailstory_test
    
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U root -d trailstory_test"]
      interval: 5s
      timeout: 5s
      retries: 5
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql

  migrate:
    build: .
    command: alembic upgrade head
    env_file:
      - ".env"
    depends_on:
      db:
        condition: service_healthy

volumes:
  pgdata: