
#core
fastapi[standard]
uvicorn[standard]

#Database
postgres
postgis
SQLAlchemy
GeoAlchemy2
psycopg2

#Cyptography & Authentication
pyJWT[crypto]
bcrypt

# Environment Manager
python-dotenv

#
gpxpy
