
#core
fastapi[standard]
uvicorn[standard]

#Database
postgres
postgis
SQLAlchemy
GeoAlchemy2
psycopg2

#Cyptography & Authentication
pyJWT
bcrypt

# Environment Manager
python-dotenv

#Geospatial Parsing
gpxpy

#Testing
pytest
httpx
