name: Google Cloud Deploy

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Python 3.11
        uses: actions/setup-python@v3
        with:
          python-version: "3.11"

      - id: "auth"
        uses: "google-github-actions/auth@v2"
        with:
          credentials_json: "${{ secrets.GCP_CREDENTIALS }}"

      - name: "Set up Cloud SDK"
        uses: "google-github-actions/setup-gcloud@v3"

      - name: "Use gcloud CLI"
        run: "gcloud info"

      - name: Build & Push docker image to Google Artifacts
        run: cd backend && gcloud builds submit --tag europe-west2-docker.pkg.dev/trailstory/trailstory-repo/backend:latest

      - name: Deploy to Cloud Run
        run: gcloud run deploy trailstory-backend --image europe-west2-docker.pkg.dev/trailstory/trailstory-repo/backend --region europe-west1 --allow-unauthenticated --project trailstory --max-instances=4
