# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"

      - name: Install UV Package manager
        run: curl -LsSf https://astral.sh/uv/install.sh | sh

      - name: Install dependencies
        working-directory: ./backend
        run: uv pip install -r requirements.txt

      - name: Install Ruff Linter
        working-directory: ./backend
        run: uv tool install ruff@latest

      - name: Run lint with Ruff
        working-directory: ./backend
        run: uvx ruff check

      - name: Test with pytest
        working-directory: ./backend
        run: pytest
